@font-face{
    font-family: 'Chronicle';
    src: url("../fonts/Chronicle Display Black.otf");
    
}
@font-face{
    font-family: 'Chronicle Light';
    src: url("../fonts/Chronicle\ Display\ Light.otf");
    
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url("../fonts/OpenSans-Light.ttf");
    
}
body{
        // display: flex;
        // min-height: 100vh;
        // flex-direction: column;
        // overflow-x:hidden;
        // padding: 0;
        // margin: 0;
        // padding-left: 0px;
        font-family: "Chronicle Light";
    }

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSans-Light" !important; 
}
p, span, b {
    font-family: "Chronicle" !important;  
}
a{
    font-family: "OpenSans-Light" !important;
}

$color-background: #F5F5F5;
$color-main: black;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 2px;
$button-width: 35px;
.color_negro{
    color: $color-main;
    &:hover{
        color: $color-main;
    }
}
body {
  background: $color-background;
}

.container {
  p {
    font-size: 20px;
  }
  
  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
    
    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
    //   width: 100%;
    }
  }
}

h1 {
  position: relative;
  text-align: center;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 11% !important;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 120;
  transition: opacity .25s ease;
  
  &:hover {
    color: #3EFAC5;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}
.lista_menu{
    @media (max-width: 2560px){
        column-count:2;
    }
    @media (max-width: 1440px){
        column-count:2;
    }
    @media (max-width: 1024px){
        column-count:2;
    }
    @media (max-width: 768px){
        column-count:2;
    }
    @media (max-width: 425px){
        column-count:1;
    }
    @media (max-width: 375px){
        column-count:1;
    }
    @media (max-width: 250px){
        column-count:1;
    }
}

.overlay {
  position: fixed;
// background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
  @media (min-width: 2560px){
    background-image: url('../images/2560_2320_negro.png');
}
@media (max-width: 1440px){
    background-image: url('../images/1140_1288_negro.png');
}
@media (max-width: 1024px){
    
    background-image: url('../images/1160_1024_negro.png');
}
@media (max-width: 768px){
    background-image: url('../images/1366_768_negro.png');
}
@media (max-width: 425px){
    background-image: url('../images/425_580_negro.png');
}
@media (max-width: 375px){
    background-image: url('../images/375_580_negro.png');
}
@media (max-width: 250px){
    background-image: url('../images/375_580_negro.png');
}
  &.open {
    opacity: 8;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    @media (min-width: 2560px){
        top: 59%;
        left: 47%;
    }
    @media (max-width: 1440px){
        top: 57%;
        left: 35%;
    }
    @media (max-width: 1024px){
        top: 64%;
        left: 29%;    
    }
    @media (max-width: 768px){
        top: 59%;
        left: 17%;

    }
    @media (max-width: 425px){
        top: 50%;
        left: 24%;
    }
    @media (max-width: 375px){
        top: 50%;
        left: 18%;
    }
    @media (max-width: 250px){
        top: 50%;
        left: 18%;
    }
}
.overlay nav{
    @media (max-width: 425px){
        height: initial;
        top: 43%;
    }
    @media (max-width: 375px){
        height: initial;
        top: 43%;
    }
    @media (max-width: 250px){
        height: initial;
        top: 43%;
    }

  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 60%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        font-size: 35px;

        &:hover{
            color: #3EFAC5;
        }
        
        // &:hover:after,
        //  &:focus:after,
        //  &:active:after {
        //    width: 65%;
        //  }
        
        // &:after {
        //   content: '';
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   width: 0%;
        //   transform: translateX(-50%);
        //   height: 3px;
        //   background: $color-link;
        //   transition: .35s;
        // }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.cajamenudos{
    position: fixed;
    top: 4%;
    height: 2px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    transition: opacity .25s ease;

    @media (min-width: 2560px){
        right: 15%;
    }
    @media (max-width: 1440px){
        right: 15%;
    }
    @media (max-width: 1024px){
        right: 15%;
   
    }
    @media (max-width: 768px){
        right: 17%;
    }
    @media (max-width: 425px){
        right: 21%;
    }
    @media (max-width: 375px){
        right: 23%;
    }
    @media (max-width: 250px){
        right: 30%;
    }
}
.overlay nav{
    @media (max-width: 425px){
        height: initial;
        top: 43%;
    }
    @media (max-width: 375px){
        height: initial;
        top: 43%;
    }
    @media (max-width: 250px){
        height: initial;
        top: 43%;
    }
}

.btn2{
    font-size: 32px;
    border: none;
    height: 38px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.ventana{
    display: none;
    position: relative;
    
}
.fondo_segundom{
    background-color: black;
    z-index: 150;
    position: absolute;
    width: 100%;
}
.color_menu2{
    color: white;
}
.hover_menu2{
    h5{
        &:hover{
            color: #3EFAC5;
        }
    }
}

.cerrar_style{
    color: white;
    font-size: 35px;
}
.caja_cerrar{
    margin-top: 3%;
    position: absolute;
    right: 0%;
}
.primera_imagen_inicio{
    background-image: url('../images/imagen_inicio.png');
    width: 100% !important;
    height: 100vh !important;
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    
}
.texto_inicio{
  font-size: 80px !important;
  line-height: 60pt;
  color: white;
  
}
.contenedor_texto_inicio{
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.62);
}
.contenedor_contenido_inical{
  position: relative;
  
}
.segundo_cont_inicio{
  padding: 5%;
}
.linea_contenedor{
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}
